
# DB
DB_USERNAME=your_user
DB_PASSWORD=your_password
DB_NAME=your_project_db
DB_PORT=5432
DB_HOST=localhost

# App
NODE_ENV=development
PORT=3000
FRONT_URL='http://localhost:4200'

# JWT Access Token
JWT_SECRET=your_super_secret_access_key_min_32_chars
JWT_EXPIRATION=1h